@tailwind base;
@tailwind components;
@tailwind utilities;
@layer base {
  :root {
    --radius: 0.5rem;
  }
}

.package-swiper .swiper-pagination {
  text-align: start !important;

  .swiper-pagination-bullet-active {
    background-color: black;
  }
}
