@tailwind base;
@tailwind components;
@tailwind utilities;
/* @import url("/tour-bg.jpg"); */
@layer base {
  :root {
    --radius: 0.5rem;
    background: white;
    color: black;
  }
}

.package-swiper .swiper-pagination {
  text-align: start !important;

  .swiper-pagination-bullet-active {
    background-color: black;
  }
}
